#text {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 50px;
}

#label {
    margin: 20px;
    color: #ff6600;
    font-weight: bold;
    font-size: 18px;
}

.cardEnum {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 25px;
}

.card {
    position: relative;
    width: 280px;
    height: 400px;

}

.jsonData {
    position: absolute;
    margin-top: 270px;
    width: 100%;

}

#content{
    font-weight: 525;
    font-size: 17px;
    
}

#title {
    font-size: 14px;
    color: #9ca3af;

}

#time {
    font-size: 15px;
    color: #9ca3af;
}
